@charset "UTF-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
}

#fonBlock{
	background-color:#2314E8;
}
h1{
	color: #1CF615;
	font-size: 30px;
}
.box{
	background-color: #fff; /*!important*/
	margin-bottom: 20px;
}
.first-box{
	background-color: aqua;
}
h2{
	color: #D619EE;
}
#fonBlock .media_box h2{
	color:#000;
}
.parentFonBlock  #fonBlock .media_box h2{
	color:#fff;
}
p,
h2{
	font-size: 16px;
}