@charset "UTF-8";
/* CSS Document */
.heading{
	font-family: 'open_sansbold';
	font-size: 30px;
	color: #ccc;
	text-align: center;
	margin-bottom: 50px;
}


/*
font-family: 'open_sansbold';
font-family: 'open_sansbold_italic';
font-family: 'open_sansextrabold';
font-family: 'open_sansitalic';
font-family: 'open_sanslight';
font-family: 'open_sanslight_italic';
font-family: 'open_sansregular';
font-family: 'open_sanssemibold';
font-family: 'open_sanssemibold_italic';*/
